#analytics-area .analytics-img, 
#analytics-area .chart_holder_common {
    width: 100% !important;
    height: 400px !important;
}

#analytics-area .chart-card-title {
    justify-content:center;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform:capitalize;
}


#analytics-area .modal-dialog {
    min-width: 80%;
    margin-left: 80;
}

#analytics-area .modal-dialog .modal-content {
    min-height: 80vh;
}

#analytics-area #max-chart-holder {
    width: 500px;
    height: 500px;
}

#analytics-area .chart-card-expand {
    cursor: pointer;
}

#analytics-area .modal-title {
    text-transform: capitalize;
}

#analytics-area .chart-dropdown-holder {
    height: 20px;
    max-width: 300px;
    line-height: 20px;
    position: absolute;
    z-index: 1000;
    right: 23px;
}

/*#analytics-area .svg-container {
    width: 100% !important; 
    height: 100% !important;
}*/