#table_area_common .table_section_title {
    justify-content:center;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    text-transform:capitalize;
    border-bottom: 2px solid;
}

#table_area_common .table_section_holder {
    max-height: 300px;
    overflow-y: auto;
    clear: both;
    border: 1px solid;
    position: relative;
}

#table_area_common .table_caption_common {
    font-size: 12px;
    clear: both;
}

#table_area_common .table tr {
    text-align: center !important;
}

#table_area_common .table {
    border: none !important;
}