<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" href="/static/images/icon-ad-graph.jpeg">
    
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>-->
    <script src="/static/lib/jquery-3.4.1.min.js"></script>

    <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
    <script src="/static/lib/plotly-latest.min.js"></script>
    
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>-->
    <script src="/static/lib/d3.min.js"></script>

    <!--<script src="/static/lib/jquery.scrollTableBody-1.0.0.js"></script>-->

    <script src="/static/lib/jquery.floatThead.min.js"></script>

    <script> 

        $(function() {

          // Adding the Nav bar
          $("#main-nav-holder").load("/nav"); 

          // Adding the dashboard section content
          //$("#dashboard-area").load("/dashboard"); 

          // Adding the datasets section content
          $("#datasets-area").load("/datasets"); 

          // Adding the explore section content
          $("#explore-area").load("/explore");

          // Adding the experiments section content
          $("#experiments-area").load("/experiments");
          
          // Adding the analytics section content
          $("#analytics-area").load("/analytics"); 

          // Adding the settings section content
          $("#settings-area").load("/settings"); 

          // Adding the upload modal
          $("#ds-upload-modal").load("/upload"); 
        });

    </script> 

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/static/lib/bootstrap.min.css">

    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>-->
    <script defer src="/static/lib/all.js"></script>

    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/lib/google_fonts.css">

    <link rel="stylesheet" href="/static/css/style.css?1302">

    <!-- styles for common components tables and charts-->
    <link rel="stylesheet" href="/static/css/chart.css?1302">
    <link rel="stylesheet" href="/static/css/table.css?1302">

    <link rel="stylesheet" href="/static/css/datasets.css?1302">

    <link rel="stylesheet" href="/static/css/explore.css?1302">
    <link rel="stylesheet" href="/static/css/experiments.css?1302">
    <link rel="stylesheet" href="/static/css/analytics.css?1302">
    <link rel="stylesheet" href="/static/css/settings.css?1302">

    <title>Anomaly Detection</title>
  </head>
  <body>
    <div class="main-holder-elem" id="main-holder-elem">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-light" id="main-nav-holder">
        </nav>
        <!-- end of navbar -->

        <!-- modal for dataset upload -->
        <div class="modal fade" id="ds-upload-modal">  
        </div>
        <!-- end of modal -->

        <!-- For context menu on data table -->  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="context-menu">
            <a class="dropdown-item" href="#">Data Exploration</a>
            <a class="dropdown-item" href="#">Data Manipulation</a>
            <a class="dropdown-item" href="#">Machine Learning</a>
            <a class="dropdown-item" href="#">Deep Learning</a>
        </div>

        <!-- modal for logout -->
        <div class="modal fade" id="sign-out">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to leave?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Press logout to leave
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                <button type="button" class="btn btn-danger" onclick="navModule.goHome()">Logout</button>
            </div>
            </div>
        </div>
        </div>
        <!-- end of modal -->

        <!-- Tab panes -->
        <div class="tab-content">

            <!--<div role="tabpanel" class="tab-pane fade" id="dashboard-area"> 
                 Dashboard content will be added here
            </div>--> 
            <div role="tabpanel" class="tab-pane fade show active" id="datasets-area">
                <!-- Datasets content will be added here-->
            </div>

            <div role="tabpanel" class="tab-pane fade" id="explore-area">
                <!-- Explore content will be added here-->
            </div>

            <div role="tabpanel" class="tab-pane fade" id="analytics-area">
                <!-- Analytics content will be added here-->
            </div>

            <div role="tabpanel" class="tab-pane fade" id="experiments-area">
                 <!-- Experiments content will be added here -->
            </div>
            
            <div role="tabpanel" class="tab-pane fade" id="settings-area">
                <!-- Settings content will be added here-->
            </div>
        </div> 
    </div>  

    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <script src="/static/lib/popper.min.js"></script>

    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>-->
    <script src="/static/lib/bootstrap.min.js"></script>
    
    <!-- Load all the scripts of all the pages -->
    <!-- @TODO: Need to do this more effiently and use lazy loading if possible -->
    <script src="/static/js/nav.js?1302"></script>

    <script src="/static/js/api.js?1302"></script>

    <!-- Script for all the metadata and datamodels common to all sections -->
    <script src="/static/js/common.js?1302"></script>

    <!-- Script common to all the tables in the application-->
    <script src="/static/js/table.js?1302"></script>

    <!-- Script common to all the charts in the application-->
    <script src="/static/js/chart.js?1302"></script>
    
    <script src="/static/js/datasets.js?1302"></script>

    <script src="/static/js/explore.js?1302"></script>

    <script src="/static/js/analytics.js?1302"></script>

    <script src="/static/js/experiments.js?1302"></script>

    <script src="/static/js/settings.js?1302"></script>

    <!--<script src="/static/js/ml.js?1302"></script>-->

    <!-- Start: HTML for page spinner -->
    <div id="pageSpinnerHolder" class="pageSpinnerHolder">
        <div class="pageSpinner">
            <img src="/static/images/loader_chart.gif" class="pageSpinnerImage" />
            <div class="pageSpinnerText">Loading...</div>
        </div>
    </div>
    <!-- End: HTML for page spinner -->

  </body>
</html>






