<div id="navigation-holder">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
        <div class="row">
            <!-- sidebar -->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
            <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Anomaly Detection</a>
            <div class="bottom-border pb-3">
                <img src="/static/images/fabio.jpeg" width="50" class="rounded-circle mr-3">
                <a href="#" class="text-white">Fabio Luciani</a>
            </div>
            <ul class="nav nav-tabs flex-column mt-4" id="nav-holder" role="tablist">
                
                <!--<li class="nav-item">
                    <a class="nav-link text-white p-3 mb-2 active" 
                        href="#dashboard-area" role="tab" data-toggle="tab">
                        <i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard
                    </a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link text-white p-3 mb-2 active"
                    href="#datasets-area" role="tab" data-toggle="tab">
                        <i class="fas fa-database text-light fa-lg mr-3"></i>Datasets
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white p-3 mb-2 sidebar-link"
                    href="#explore-area" role="tab" data-toggle="tab" onclick="exploreModule.renderModule()">
                        <i class="fab fa-wpexplorer text-light fa-lg mr-3"></i>Explore
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white p-3 mb-2 sidebar-link"
                    href="#analytics-area" role="tab" data-toggle="tab" onclick="analyticsModule.renderModule()">
                        <i class="fas fa-chart-line text-light fa-lg mr-3"></i>Analytics
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white p-3 mb-2 sidebar-link"
                    href="#experiments-area" role="tab" data-toggle="tab" onclick="experimentsModule.renderModule()">
                        <i class="fas fa-flask text-light fa-lg mr-3"></i>Experiments
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white p-3 mb-2 sidebar-link"
                    href="#settings-area" role="tab" data-toggle="tab" onclick="settingsModule.renderModule()">
                        <i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white p-3 mb-2 sidebar-link"
                    href="#" data-toggle="modal" data-target="#ds-upload-modal">
                        <i class="fas fa-plus-circle text-light fa-lg mr-3"></i> Dataset
                    </a>
                </li>
                
            </ul>
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
                <div class="row align-items-center">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-5">
                        <!--<form>
                            <div class="input-group">
                            <input type="text" class="form-control search-input" placeholder="Search...">
                            <button type="button" class="btn btn-white search-button"><i class="fas fa-search text-danger"></i></button>
                            </div>
                        </form>-->
                    </div>
                    <div class="col-md-3">
                        <ul class="navbar-nav">
                            <!--<li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>
                            <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>-->
                            <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of top-nav -->
        </div>
        </div>
    </div>
</div>